html {
    height: 100%;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

/* Title area */
#title-area {
    size: 10%;
}

/* Sizing Button Area */
#sizing-button {
    width: 15%;
    aspect-ratio: 2/1;
    margin-bottom: 8px;
    background-color: lightgreen;
}

#sizing-button p {
    font-size: 30px;
}

/* Drawing area */
@media (orientation: landscape) {
    #drawing-area {
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        aspect-ratio: 1/1;
        background-color: whitesmoke;
        border: 8px solid black;
    }
}

@media (orientation: portrait) {
    #drawing-area {
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        aspect-ratio: 1/1;
        background-color: whitesmoke;
        border: 8px solid black;
    }
}

#drawing-area div {
    box-sizing: border-box;
    aspect-ratio: 1/1;
}